body{
    background-color: #efefef;
}

.main{
    margin: 40px;
    background-color: #FFFFFF;
}
.row-publish{
    padding: 5px;
}

.btn-publish{
    float: right;
    margin:10px 0;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;

}
.menu-color{
    color: #999;
    font-size: 14px;
}
.jumbotron{
    margin: 50px;
}
.media-body-ext{
    padding-top: 10px;
}
.comment{
    /*上下10，左右0*/
    margin:10px 0;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .btn-myworld{
    margin-right: 5px;
    font-size: 15px;
    color: #999999;
    margin-top: 5px;
}

.menu .btn-myworld:hover{
    color: #3881a4;
}

.menu .active{
    color: #3881a4;
}

.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #999999;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border:1px solid #eee;
    padding-top: 15px;
}
.question-tag{
    margin-right: 5px;
}

.select-tag{
    display: none;
}
.tag-icon{
    margin-top: 10px;
}
.tags-icon{
    margin-right: 10px;
}